.auth__field {
  margin: 0 0 10px 0;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #2F2F2F;
  outline: none;
  background-color: #2F2F2F;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  width: 100%;
  border-radius: 8px;
  transition: .4s;
}

.auth__field:focus {
  transition: .4s;
  border: solid 1px rgb(66,133,244);
}
.auth__field:hover {
  transition: .4s;
  border: solid 1px rgb(66,133,244);
}