.search__input {
  margin: 0 0 0 10px;
  padding: 0;
  color: #8B8B8B;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  width: 100%;
  background-color: inherit;
  outline: none;
  border: none;
}

.search__input:focus {
  border-bottom: solid 1px rgba(43,224,128, .3);
}

@media screen and (max-width: 415px){
  .search__input {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
  }
}

