.page {
  margin: 0 auto;
  padding: 0;
  background-color: #202020;
  position: relative;
  font-family: "Inter", "sans-serif", "Arial";
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}