.card__description {
  margin: 0;
  padding: 18px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  z-index: 2;
  background-color: #222222;
}

@media screen and (max-width: 320px) {
  .card__description {
    padding: 14px;
  }
}