.search__wrap {
  margin: 0;
  padding: 0 0 70px;
  box-sizing: border-box;
  border-bottom: solid 1px #424242;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px){
  .search__wrap {
    padding: 0 0 107px;
  }
}

@media screen and (max-width: 560px){
  .search__wrap {
    padding: 0 0 35px;
  }
}