.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  mask-image: url(../../../images/close__icon.svg);
  background-color: #8B8B8B;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  align-self: center;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .popup__close-button {
    width: 32px;
    height: 32px;
    top: -36px;
    right: -6px;
    background-size: 32px;
  }
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: .2s;
}