.page404 {
  margin: 0 auto;
  padding: 246px 0 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 884px){
  .page404 {
    padding: 408px 0 222px;
  }
}

@media screen and (max-width: 500px){
  .page404 {
    padding: 329px 0 30px;
  }
}