.search__form {
  margin: 0;
  padding: 19px 29px 19px 19px;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 9px 0 0 9px;
  background-color: #2F2F2F;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .search__form {
    width: 87%;
    padding: 19px;
  }
}

@media screen and (max-width: 560px){
  .search__form {
    border-radius: 9px;
  }
}