.profile__exit {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #EE3465;
  transition: .4s;
  cursor: pointer;
}

.profile__exit:hover {
  transition: .4s;
  opacity: 0.6;
}