.profile__edit {
  margin: 220px 0 16px 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  cursor: pointer;
  transition: .4s;
}

.profile__edit:hover {
  transition: .4s;
  opacity: 0.6;
}

@media screen and (max-width: 768px){
  .profile__edit {
    margin: 210px 0 16px 0;
  }
}

@media screen and (max-width: 500px){
  .profile__edit {
    margin: 378px 0 16px 0;
  }
}

