.profile__input-value {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  background-color: inherit;
  outline: none;
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  width: 100%;
}