.profile__edit-input {
  margin: 0;
  padding: 0 0 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #424242;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 410px;
}

.profile__edit-input:last-of-type {
  border-bottom: none;
  padding: 19px 0 0;
}

@media screen and (max-width: 500px){
  .profile__edit-input {
    width: 100%;
  }
}