.header__nav-text {
  margin: 0 20px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  cursor: pointer;
}

.header__nav-text:last-child {
  margin: 0;
}

.header__nav-text:hover {
  transition: .4s;
  opacity: 0.6;
}