.cards__button-box {
  margin: 0 auto;
  padding: 35px 70px 105px;
  display: flex;
  justify-content: center;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .cards__button-box {
    padding: 80px 30px 80px;
  }
}

@media screen and (max-width: 415px) {
  .cards__button-box {
    padding: 80px 10px 80px;
  }
}