.checkbox__span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #424242;
  border-radius: 20px;
  transition: 0.4s;
}

.checkbox__span::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  right: 18px;
  top: 2px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  background-color: #F5F5F5;
  transition: 0.4s;
}