.auth__link {
  margin: 0 0 0 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285F4;
  text-decoration: none;
  transition: .4s;
}

.auth__link:hover {
  transition: .4s;
  opacity: 0.8;
}