.promo__container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 75px 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1090px) {
  .promo__container {
    flex-direction: column-reverse;
    padding: 140px 30px 76px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .promo__container {
    padding: 70px 18px 30px;
  }
}