.card__image {
  position: absolute;
  top: 54px;
  z-index: 1;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  height: 200px;
  margin: 0;
  padding: 0;
  transition: .6s;
}

.card__image:hover {
  transition: .6s;
  cursor: pointer;
  transform: scale(1.05);
}

@media screen and (max-width: 768px){
  .card__image {
    height: 190px;
  }
}

@media screen and (max-width: 320px){
  .card__image {
    height: 168px;
    margin: 0 0 14px 0;
  }
}