.portfolio__item {
  margin: 0;
  padding: 20px 0 19px 0;
  box-sizing: border-box;
  border-bottom: solid 1px #424242;
  background-image: url("../../../images/portfolio__arrow.svg");
  background-repeat: no-repeat;
  background-position: right 39px;
}

.portfolio__item:last-child {
  border-bottom: none;
}

@media screen and (max-width: 768px){
  .portfolio__item {
    background-position: right 27px;
    background-size: 18px, 18px;
  }
}

@media screen and (max-width: 320px){
  .portfolio__item {
    background-size: 12px, 12px;
  }
}