.about__container {
  margin: 0 auto;
  padding: 110px 70px;
  box-sizing: border-box;
  display: flex;
  max-width: 1280px;
  flex-direction: column;
}

@media screen and (max-width: 768px){
  .about__container {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 320px){
  .about__container {
    padding: 70px 18px;
  }
}