.auth__submit-button {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  padding: 13px 0 15px;
  box-sizing: border-box;
  border-radius: 3px;
  border: none;
  background-color:  #4285F4;
  width: 100%;
  transition: .4s;
  cursor: pointer;
}

.auth__submit-button:hover {
  transition: .4s;
  opacity: 0.8;
  background-color: #2BE080;
}