@keyframes background-grad {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


.cards__button-more {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  width: 320px;
  height: 36px;
  background-color: #202020;
  box-sizing: border-box;
  border: 1px solid #424242;
  border-radius: 6px;
  cursor: pointer;
  transition: .4s;
}

.cards__button-more:hover {
  transition: .4s;
  opacity: 0.7;
  background: linear-gradient(-135deg, #202020, #424242, #202020);
  background-size: 200% 200%;
  animation: background-grad 7s ease infinite;
}

@media screen and (max-width: 415px){
  .cards__button-more {
    width: 240px;
  }
}

