.portfolio__item-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  transition: .4s;
}

.portfolio__item-link:hover {
  transition: .4s;
  opacity: 0.6;
}

@media screen and (max-width: 768px){
  .portfolio__item-link {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px){
  .portfolio__item-link {
    font-size: 18px;
    line-height: 28px;
  }
}