@keyframes scale {
  0% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  50% {
    transform: scale3d(0.95, 0.95, 0.95);
  }
  100% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}

.promo__logo {
  width: 310px;
  height: 304px;
  object-fit: contain;
  animation: scale 5s infinite;
}

@media screen and (max-width: 320px) {
  .promo__logo {
    width: 210px;
    height: 206px;
  }
}