.about__graphic {
  margin: 0;
  padding: 110px 0 0;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 36px 28px;
}

@media screen and (max-width: 768px) {
  .about__graphic {
    padding: 94px 0 0;
    grid-template-columns: 21% 79%;
  }
}

@media screen and (max-width: 500px) {
  .about__graphic {
    padding: 60px 0 0;
    grid-template-columns: 36% 64%;
  }
}