.header__button {
  padding: 0;
  margin: 0;
  width: 76px;
  height: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  border-radius: 3px;
  background-color: #3DDC84;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  transition: .4s;
  color: #000000;
}

.header__button:hover {
  transition: .4s;
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .header__button {
    font-size: 10px;
    width: 54px;
    height: 26px;
  }
}